@model IPagedList<TinTuc>

@using X.PagedList.Mvc.Core;


@using X.PagedList;
@using X.PagedList.Web.Common

<style>
    .list-table {
        min-height: 400px
    }

    list-table table {
        border: 1px solid gray;
    }

    #thead {
        background-color: deepskyblue;
        color: white;
    }

    .table-title-name p {
        width: 500px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .table-btn a:hover {
        transform: scale(1.075)
    }

    .btn-stutus {
        background-color: rgb(17, 138, 178);
        width: 30px;
    }

    .table-btn a i {
        color: white;
    }
</style>

<div id="list">

    <div class="list-table">
        <table class="table table-bordered text-left w-100 " style="font-size:small">
            <tr id="thead">
                <th class="col-6">
                    Tiêu đề
                </th>
                <th class="col-2 text-center">
                    Trạng thái
                </th>
                <th class="col-2 text-center">
                    Thể loại
                </th>
                <th class="col-2 text-center">Thao tác</th>
            </tr>
            @foreach (var item in ViewBag.Names as IEnumerable<TinTuc>)
            {
                <tr>
                    <td class="table-title-name col-6"><p>@item.TieuDe</p></td>
                    <td class="col-2 text-center">@item.TrangThai</td>
                    <td class="col-2 text-center">@item.MaTLNavigation.TenTL</td>
                    <td class="table-btn col-2 text-nowrap text-center">
                        <a class="btn-stutus btn btn-sm active" title="Chỉnh sửa" href="@Url.ActionLink("Edit","TinTuc", new  {id= item.MaBaiViet })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                        @if (item.TrangThai)
                        {
                            <a class="btn-stutus btn  btn-sm active" onclick="_delete('@item.MaBaiViet')" title="Ngừng hoạt động"> <i class="fa fa-trash"></i></a>
                        }
                        else
                        {
                            <a class="btn-stutus btn btn-sm active" onclick="_restore('@item.MaBaiViet')" title="Khôi phục hoạt động"> <i class="fa fa-recycle" aria-hidden="true"></i></a>
                        }
                        <a class="btn-stutus btn btn-sm active" title="Chi tiết" onclick="_Detail('@item.MaBaiViet')"> <i class="fa fa-info-circle" aria-hidden="true"></i></a>
                    </td>
                </tr>
            }

        </table>
    </div>


    <div class="text-right">

        @{
            var pageRender = new PagedListRenderOptions
            {
                MaximumPageNumbersToDisplay = 5,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                DisplayPageCountAndCurrentLocation = false,
                UlElementClasses = new[] { "pagination" },
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },


                ContainerDivClasses = new[] { "pagination-container" }


            };
        }
        @{
            var searchModel = ViewBag.Data as TinTucSearchModel;
        }


        @Html.PagedListPager((IPagedList<TinTuc>)ViewBag.Names, page => Url.Action("PageList", new { page, TieuDeSearch = searchModel.TieuDeSearch, TrangThaiSearch = searchModel.TrangThaiSearch, MaTLSearch = searchModel.MaTLSearch }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pageRender, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
    </div>
</div>






