@model HospitalManagement.Models.Thuoc

<div class="container-fluid" id="pannelThuoc">
    <h4 style="text-align:center; font-weight:bold">THÔNG TIN THUỐC</h4>
    <hr />
    <div class="row m-4">
        <!--Phần hình ảnh-->
        <div class="col-sm-4">
            <img src="~/images/imagesThuoc/@Model.HinhAnh" style="width:200px" />


        </div>
        <div class="col-sm-8">
            <div>
                <div class="col-12 row ">
                    <h3 id="tenThuoc">@Model.TenThuoc</h3>
                    <p style="font-weight: bold;">
                        Vị trí: @Model.Vitri
                    </p>
                </div>

                <div class="row col-12">
                    <div class="col-sm-4" style="font-weight:bold!important">
                        Đơn giá
                    </div>
                    <div class="col-sm-8">
                        <!-- @Html.DisplayFor(model => model.DonGia) -->
                        @Model.DonGia?.ToString("n0").Replace(',', '.')
                    </div>
                </div>


                <div class="col-12 row">
                    <div class="col-sm-4" style="font-weight:bold!important">
                        Thông tin
                    </div>
                    <div class="col-sm-8">
                        <!-- @Html.DisplayFor(model => model.ThongTin) -->
                        @Model.ThongTin
                    </div>
                </div>

                <div class="col-12 row">
                    <div class="col-sm-4" style="font-weight:bold!important">
                        Trạng thái
                    </div>
                    <div class="col-sm-8">
                        <!-- @Html.DisplayFor(model => model.TrangThai) -->
                        @Model.TrangThai
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>