@model IPagedList<ToaThuoc>

@using X.PagedList.Mvc.Core;


@using X.PagedList;
@using X.PagedList.Web.Common
<div id="list">

    <div style="min-height:400px">
        <table class="table table-bordered text-center" style="width:100%">
            <tr id="table-header" class="text-light" style="font-size: 2.5vmin">
                <th style="text-align: left;">Tên bệnh nhân</th>
                <th>SĐT</th>
                <th>Ngày Khám</th>
                <th>Thao tác</th>
            </tr>
            @if ((ViewBag.Names as IEnumerable<ToaThuoc>).Count() > 0)
            {
                @foreach (var item in ViewBag.Names as IEnumerable<ToaThuoc>)
                {
                    <tr style="font-size: 2.5vmin">
                        <td style="text-align: left;">@item.MaPhieuKhamNavigation.MaBNNavigation.HoTen</td>
                        <td>@item.MaPhieuKhamNavigation.MaBNNavigation.SDT</td>
                        <td>@item.MaPhieuKhamNavigation.NgayKham.ToString("dd/MM/yyyy")</td>
                        <td class="text-nowrap">
                            <a onclick=Detail('@item.MaPhieuKham') class='btn btn-info btn-sm active' title='Thông tin'> <i class='fa fa-info-circle' aria-hidden='true'></i></a>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4" class="text-center">Không có dữ liệu</td>
                </tr>
            }
        </table>
    </div>
</div>
<div style="float:right">

    @{
        var pageRender = new PagedListRenderOptions
            {
                MaximumPageNumbersToDisplay = 5,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always,
                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                DisplayLinkToLastPage = PagedListDisplayMode.Never,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                DisplayPageCountAndCurrentLocation = false,
                UlElementClasses = new[] { "pagination" },
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new string[] { "page-link" },


                ContainerDivClasses = new[] { "pagination-container" }


            };
    }
    @{
        var searchModel = ViewBag.Data as ToaThuocSearchModel;
    }

    <input class="d-none" id="CurrentPage" value="@ViewBag.Page" />
    @Html.PagedListPager((IPagedList<ToaThuoc>)ViewBag.Names, page => Url.Action("ReloadPageLichSu", new { page, KeywordSearch = searchModel.KeywordSearch,TrangThai = 2,TrangThaiPK = 2 }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(pageRender, new AjaxOptions() { HttpMethod = "GET", UpdateTargetId = "nameListContainer" }))
</div>

